dostorres/.externalToolBuilders
dostorres/.classpath
.metadata/
.vscode
.vscode/settings.json
dostorres/recibos
dostorres/db/create/.vscode/
dostorres/.settings/org.eclipse.ltk.core.refactoring.prefs
dostorres/editorPorInternet/qpdf46.jnlp
dostorres/.settings/org.eclipse.wst.ws.service.policy.prefs
dostorres/.settings/org.springframework.ide.eclipse.xml.namespaces.prefs
dostorres/.tomcatplugin
dostorres/editDataDocument.jsp
dostorres/editorPorInternet/qpdf46.jnlp
dostorres/editorPorInternet/qpdf48.jnlp
dostorres/filesRegister.jsp
dostorres/filesView.jsp
.idea/